<% errors.forEach(function(x) { %>
    <div class="alert alert-danger text-center small"><b><%= x %></b></div>
  <% }) %>

<% success.forEach(function(x) { %>
    <div class="alert alert-success text-center small"><b><%= x %></b></div>
<% }) %>