<% errors.forEach(function(x) { %>
    <div class="alert alert-danger small"><b><%= x %></b></div>
  <% }) %>

<% success.forEach(function(x) { %>
    <div class="alert alert-success small"><b><%= x %></b></div>
<% }) %>