<%- include('partials/header') %>
  
  <div class="container py-md-5 container--narrow mt-4 text-center">
		<div class="row justify-content-center">
			<div class="col">
				<div class="card hovercard">
					<div class="cardheader">

					</div>
						<div class="avatar">
							<img class="profile-photo mb-3 mt-4" src="<%= profileAvatar %>">
						</div>
							<form action="#" method="POST">
								<h5><b><%= profileUsername %></b></h5>
								<div class="info">
									<div class="desc">Passionate designer</div>
									<div class="desc">Curious developer</div>
									<div class="desc">Tech geek</div>
								</div>
								<div class="bottom">
								<button class="btn btn-sm text-white follow-btn mt-2 mb-5">Follow <i class="fas fa-user-plus"></i></button>
								<!-- <button class="btn btn-danger btn-sm">Stop Following <i class="fas fa-user-times"></i></button> -->
								</div>
							</form>
				</div>
			</div>
		</div>
																		
		<hr>
																	
		<div class="profile-nav nav nav-tabs nav-justified pt-4">
			<a href="#" class="profile-nav-link nav-item nav-link active">Posts: 3</a>
			<a href="#" class="profile-nav-link nav-item nav-link ">Followers: 3</a>
			<a href="#" class="profile-nav-link nav-item nav-link ">Following: 2</a>
    </div>
  
    <div class="list-group">
        
      <a href="/post/5c3af3dcc7d0ad0004e53b3d" class="list-group-item list-group-item-action">
        <div class="d-flex">
					<img class="avatar-tiny " src="https://gravatar.com/avatar/b9408a09298632b5151200f3449434ef?s=128">
					<strong>Example Post #1</strong>
					<div class="ml-auto">0/13/2019</div>
        </div>
      </a>

      <a href="/post/5c3af3dcc7d0ad0004e53b3d" class="list-group-item list-group-item-action">
        <div class="d-flex">
					<img class="avatar-tiny " src="https://gravatar.com/avatar/b9408a09298632b5151200f3449434ef?s=128">
					<strong>Example Post #1</strong>
					<div class="ml-auto">0/13/2019</div>
        </div>
      </a>

      <a href="/post/5c3af3dcc7d0ad0004e53b3d" class="list-group-item list-group-item-action">
        <div class="d-flex">
					<img class="avatar-tiny " src="https://gravatar.com/avatar/b9408a09298632b5151200f3449434ef?s=128">
					<strong>Example Post #1</strong>
					<div class="ml-auto">0/13/2019</div>
        </div>
      </a>
		</div>
		
  </div>
  
  <%- include('partials/footer') %>