body, .tooltip
 {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(149, 160, 207, 0.205);
}

#animated {
  margin: 0px;
}

#button-signup {
  background-image: linear-gradient(0deg, rgba(255, 153, 0, 0.918), rgb(252, 235, 215));
  width: 100%;
}

#reg-log-gumb {
  cursor: default;
}

#footer {
  width: 100%;
}

#container {
  /*min-height: 77vh;*/
}

label {
  display:block;
  text-align: left;
  
}


.container--narrow {
  max-width: 732px;
}


.header-bar {
  background-color: #1a1d4bf2;
  box-shadow: 0 0px 25px rgba(12, 26, 105, 0.910);
}


.header-search-icon {
  position: relative;
  top: 3px;
}

.header-chat-icon {
  cursor: pointer;
  position: relative;
  top: 3px;
}

.avatar-small {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.avatar-tiny {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 4px;
  position: relative;
  top: -1px;
}


#post-body {
  font-size: 17px;
}
#post-title {
  font-size: 17px;
}

.go-back {
  margin-left: 20rem;
}

.body-content {
  font-size: 1.2rem;
  line-height: 1.75;
  color: #292929;
}

.body-content p,
.body-content ul,
.body-content ol {
  margin-bottom: 1.75rem
}

.input-dark {
  background-color: rgba(149, 160, 207, 0.315);
  border-color: transparent;
  color: rgb(255, 255, 255);
}

.input-dark:focus {
  color: #FFFFFF;
  background-color: rgba(113, 111, 143, 0.507);
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.input-dark::-webkit-input-placeholder {color: rgb(185, 185, 185);}
.input-dark::-moz-placeholder {color: rgb(185, 185, 185);}
.input-dark:-ms-input-placeholder {color: rgb(185, 185, 185);}
.input-dark:-moz-placeholder {color: rgb(185, 185, 185);}


@media (min-width: 768px) {
  .input-dark {
   width: auto;
  }
}

.display-3 {
  font-size: 4.35rem;
}

@media (max-width: 768px) {
  .display-3 {
    font-size: 2.5rem
  }

}

.naslov{
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav-naslov a{
  text-decoration: none;
  color: white;
  transition: .4s;
}

.nav-naslov:hover a{
  color: rgb(176, 170, 245);
  
}

.icon {
  margin-top: 11px;
  margin-right: 11px;
  color: gray;
}

.logo {
  height: 2rem;
  padding-right: 0.5rem;
  
}

.logo2 {
  width: 80%;
  object-fit: scale-down;
}


.liveValidateMessage {
  transition: all .5s ease-out;
  top: -6px;
  position: absolute;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 16px;
  opacity: 0;
  transform: translateY(100%)
}

.liveValidateMessage--visible {
  opacity: 1;
  transform: translateY(0)
}



.form-group input,
.form-group textarea {
  position: relative;
  z-index: 2;

}

textarea.tall-textarea {
  height: 160px;
}



@media (min-width: 768px) {
  textarea.tall-textarea {
    height: 320px;

  }
}

#ime {
  text-decoration: none !important;
  color: white;
}


.createpost-naslov{
  color: rgba(53, 53, 53, 0.904);
}



.crreate {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.935);
  transition: .14s;
}

.crreate:hover {
  background-color: rgb(143, 139, 219);
  color: white
}

.exxit {
  border-radius: 49%;
  background-color: rgba(255, 255, 255, 0.935);
  transition: .14s;
}

.exxit:hover {
  background-color: rgb(143, 139, 219);
  color: white
}

.follow-btn {
  background-color: rgba(3, 51, 209, 0.596);
}

.follow-btn:hover {
  background-color: rgba(34, 35, 124, 0.787);
}

.publish-btn {
  background-color: rgba(3, 51, 209, 0.596);
}

.publish-btn:hover {
  background-color: rgba(34, 35, 124, 0.787);
}

.profile-photo {
  box-shadow: 0 0px 11px rgba(2, 10, 49, 0.705);
}



.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background: linear-gradient( rgba(230, 228, 241, 0.294), rgba(45, 38, 78, 0.075));
  box-shadow: 0px 2px 5px rgba(95, 95, 95, 0.342);
  border-radius: 8px;
}

.karta {
  background: linear-gradient(rgb(255, 255, 255), rgb(246, 246, 246)) !important;
}

.kartapost {
  background: linear-gradient(rgb(255, 255, 255), rgb(246, 246, 246)) !important;
}

.kartaedit{
  background: linear-gradient(rgb(255, 255, 255), rgb(246, 246, 246)) !important;
}

.kartacreate{
  background: linear-gradient(rgb(255, 255, 255), rgb(246, 246, 246)) !important;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.76);
}

.card.hovercard .cardheader {
  background: url("https://www.securethinking.com/wp-content/uploads/2020/01/43223045_m-850x280.jpg");
  background-size: cover;
  height: 135px;
}

.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.card.hovercard img {
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info  {
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
  padding: 4px 8px 10px;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

.profile-list-posts-shadow{
  box-shadow: 0px 1px 2px rgba(95, 95, 95, 0.342);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 4px;
}


.profile-nav-link:hover {
  background-color: rgba(66, 66, 66, 0.144);
}


.profile-results:hover {
  background-color: #e2e2e200;
  /* box-shadow: inset 1px 6px 7px rgba(116, 116, 117, 0.356); */
}

/* Search Overaly */
.search-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(25, 21, 39, 0.620);
  visibility: hidden;
  opacity: 0; 
  transition: .22s visibility ease-in-out, .22s opacity ease-in-out, .22s transform ease-in-out;
  will-change: visibility, transform, opacity;
  
}

#blur.active {
  filter: blur(4px);
}

.single-search-item:hover {
  background-color: #e7e5eb;
  /* box-shadow: inset 1px 6px 7px rgba(116, 116, 117, 0.356); */
}

.search-nav{
  margin-top: 4rem;
  background-color: rgba(55, 66, 167, 0.895);
  color: white;
  
}

.search-overlay-top {
  box-shadow: inset 0px 2px 12px rgba(5, 5, 61, 0.281);
}

.search-overlay--visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.search-overlay-icon {
  color: #007bff;
  font-size: 1.4rem;
  margin: 0;
  margin-right: 10px;
}

.live-search-field {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  margin-right: 10px;
  font-size: 1.1rem;
  flex: 1;
  color: #0e1318;
}

.live-search-results {
  opacity: 0;
  transition: all .3s ease-out;
  transform: scale(1.07)
}

.live-search-results--visible {
  opacity: 1;
  transform: scale(1)
}

.search-overlay-top {
  background-color: rgba(255, 255, 255, 0.965);
}

.search-overlay-top .container {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.search-overlay-bottom {
  overflow: auto;
}

.close-live-search {
  font-size: 1.5rem;
  cursor: pointer;
  opacity: .75;
  line-height: 1;
  color: rgba(43, 41, 41, 0.664);
}

@media only screen and (min-width: 700px) {
  .live-search-field {
    font-size: 1.2rem;
  }

  .close-live-search {
    font-size: 1.8rem;
  }

  .search-overlay-icon {
    font-size: 1.2rem;
  }
}

.close-live-search:hover {
  opacity: 1;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.circle-loader {
  opacity: 0;
  transition: opacity .45s ease-out, visibility .45s ease-out;
  visibility: hidden;
  position: absolute;
  left: 48.2%;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 8px solid rgb(148, 148, 148);
  border-top-color: #f5f5f5;
  will-change: -webkit-transform, transform;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

.circle-loader--visible {
  visibility: visible;
  opacity: 1;
}

/* End Search Overlay */

/* Chat */
.chat-wrapper {
  position: fixed;
  z-index: 5;
  bottom: 0;
  right: 20px;
  width: 290px;
  height: 350px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  transition: all .4s ease-in-out;
  opacity: 0;
  transform: translateY(100%)
}

.chat--visible {
  opacity: 1;
  transform: translateY(0)
}

.chat-title-bar {
  background-color: #292929;
  color: #FFF;
  padding: 4px 7px;
  display: flex;
  justify-content: space-between;
}

.chat-title-bar-close {
  opacity: .7;
  cursor: pointer;
}

.chat-title-bar-close:hover {
  opacity: 1;
}

.chat-log {
  padding: 8px;
  flex: 1;
  overflow: auto;
}

.chat-self,
.chat-other {
  font-size: .75rem;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.chat-self {
  padding-left: 25%;
}

.chat-self .chat-avatar {
  margin-left: 6px;
}

.chat-self .chat-message {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.chat-self .chat-message-inner {
  text-align: right;
  padding: 4px 7px;
  border-radius: 12px;
  background-color: #007bff;
  color: #FFF;
}

.chat-other {
  padding-right: 25%;
}

.chat-other .chat-avatar {
  margin-right: 6px;
}

.chat-other .chat-message {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.chat-other .chat-message-inner {
  padding: 4px 7px;
  border-radius: 12px;
  background-color: #f1f0f0;
}

.chat-message a {
  color: #212529
}

.chat-field {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 7px;
  border: none;
  outline: none;
  font-size: .75rem;
}